*.py linguist-language=Python
*/settings.py linguist-language=Python
*/models.py linguist-language=Python
*/views.py linguist-language=Python
*.js linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
